
table.item-list {
	border-width: 1px;
	border-style: solid;
	border-collapse: collapse;
	margin: 10px;
}

table.item-list th {
	border: 1px solid black;
	padding: 3px 5px;
}

table.item-list td {
	border: 1px solid black;
	padding: 3px 5px;
}

.input-line {
	display: block;
}

.block {
	margin-top: 20px;
	margin-bottom: 10px;
}